:root {
    --primary-color: #23A6F0;
}

* {
    margin: 0.5em;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    /* background-color: #252B42; */
    font-family: 'Monsterrat', sans-serif;

}


/* ..............Start of First Page.................. */
.firstpg {
    background-image: url(images/firstpg.png);
    height: fit-content;
}

.navbar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navbar a {
    text-decoration: none;
}

.links {
    display: flex;
    /* float: left; */
    padding: 0 3rem;
}

.membership {
    display: flex;
    float: right;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

/* ...........Welcome firstpg subsection.......... */
.welcome {
    text-align: center;
    margin: 5em;
}

.welcome p {
    text-align: center;
    margin: 2rem 3em;
}

.btns button {
    height: 2rem;
    width: auto;
    padding: 0.3rem;
    overflow: hidden;
    border: thin white;
    border-radius: 6rem;
    margin: 1em 0em 5em 0em;
}

.lowericons {
    display: flex;
}

.lowericons div {
    height: max-content;
    box-shadow: gainsboro;
    background-color: white;
    height: 8em;
    position: absolute 50%;
    padding: 1rem 1rem 2rem 1rem;
}

.lowericons img{
    height: 4rem;
}

/* ......... About Section ........ */
.about {
    justify-content: center;
    display: flex;
    height: 15rem;
}

.about div {
    width: 20%;
    margin: 3em 2em;
}
.about img{
    height: 4rem;
}

/* ...............Industry ................... */

.industrio {
    background-color: whitesmoke;
}

.industry h2,
p {
    text-align: center;
}
.rated {
    display: flex;
    
}

.rating{
    border: 1rem gray;
    height: 20rem;
    width: 15rem;
    margin: 0 auto;
    background-color: white;
    
}

.rating img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 7rem;
    text-align: center;
}

.referrals {
    display: flex;
    justify-content: center;
}

.referrals img {
    height: 2rem;
    margin: 2rem;
}

.newsletter {
    display: flex;
    width: 60%;
    justify-content: space-around;
    background-color: burlywood;
}

.newsletter h3 {
    float: left;
    margin: 1rem;
    /* width: 10rem; */
}

.newsletter input {
    margin: 1rem -0.18rem;
    height: 2.5rem;
    padding: 0rem 1rem;
    border: none;
}

input[type=text] {
    background-color: white;
    /* height: 2.5rem; */
}

input[type=submit] {
    background-color: var(--primary-color);
    /* height: 2.5rem; */
}

/* ............. Pricing Section ............. */

.pricing{
    margin: 0 auto;
    text-align: center;
}
.pricing h2{
    margin: 5rem auto 1rem auto;
}
.upgrade{
    display: flex;
    margin: 2rem auto;
    justify-content: center;
    padding: 1.5rem;
}
.upgrade div{
    border: solid 0.1rem blueviolet;
    border-radius: 0.4em;
    height: max-content;
    padding: 1.5rem;
    /* overflow: scroll; */
}
.upgrade .standard{
    background-color: #252B42;
    color: white;
    justify-content: center;
}
.standard .cash{
    color: var(--primary-color);
}
.upgrade .cash em{
    font-size: 2rem;
    font-weight: 900;
}
.upgrade ul li{
    margin: 2rem 0rem;
    text-align: left;
    padding: 0.2rem 1rem;
}
.upgrade button{
    margin: 0rem auto;
    padding: 0.4rem 2.2rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.2rem;
    color: white;
}
.upgrade h3, p{
    text-align: center;
    margin: 0.5rem auto;
    padding: 0.5rem;
}


/* .free{
  margin-bottom: -2em;  
} */

/* ............coverage ................ */

.coverage{
    display: flex;
    flex-direction: column;
}

.cover{
    display: flex;
    flex-direction: row;
}

.cvintro{
    /* clear: both; */
    display: flex;
    flex-direction: column;
}

.cover img{
    float: right;
}

.consulting{
    clear: both;
    display: block;
}

/* .cover img{
    float: right;
} */


/* .......... Maps ........... */

.maps{
    display: flex;
    justify-content: center;
}

.ftr{
    margin: 2rem 2rem 2rem 0rem;
}

.ftr ul li a {
    text-decoration: none;
    color: black;
}

.ftr a{
    text-decoration: none;
    color: black;
    margin: 0rem;
}

.ftr ul li a :hover{
    color: blueviolet;
}

.maps ul li{
    display: flex;
    flex-direction: column;
    padding: 1em auto;
    margin: 1.5rem;
}

.maps p{
    text-align: left;
    margin: 0rem;

}

/* .......... Footer ............. */
.footer{
    display: flex;
    background-color: whitesmoke;
    justify-content: space-around;
}

.footer .icons{
    float: right;
}